{% extends 'profile/main.html' %}
{% load static %}
{% block content %}
<section class="ftco-section contact-section">
    <form method="post" enctype="multipart/form-data">

        {% csrf_token %}
        
      <!-- <div class="mb-3 row">
        <h4><label for="password" class="col-sm-2 col-form-label">password</label></h4>
        <div class="col-sm-10">
            {{form.password}}
        </div>
      </div> -->
      <div class="mb-3 row">
        <h4><label for="first_name" class="col-sm-2 col-form-label">First name</label></h4>
        <div class="col-sm-10">
            {{form.first_name}}
            
        </div>
      </div>
      <div class="mb-3 row">
        <h4><label for="last_name" class="col-sm-2 col-form-label">Last name</label></h4>
        <div class="col-sm-10">
            {{form.last_name}}
        </div>
      </div>
      <div class="mb-3 row">
        <h4><label for="username" class="col-sm-2 col-form-label">Username</label></h4>
        <div class="col-sm-10">
            {{form.username}}
        </div>
      </div>
      <div class="mb-3 row">
        <h4><label for="last_login" class="col-sm-2 col-form-label">Last_login</label></h4>
        <div class="col-sm-10">
            {{form.last_login}}
        </div>
      </div>
      {% if user.is_superuser %}
      <div class="mb-3 row">
        <h4><label for="is_superuser" class="col-sm-2 col-form-label">is_superuser</label></h4>
        <div class="col-sm-10">
            {{form.is_superuser}}
        </div>
      </div>
      <div class="mb-3 row">
        <h4><label for="is_staff" class="col-sm-2 col-form-label">is_staff</label></h4>
        <div class="col-sm-10">
            {{form.is_staff}}
        </div>
      </div>
      <div class="mb-3 row">
        <h4><label for="is_active" class="col-sm-2 col-form-label">is_active</label></h4>
        <div class="col-sm-10">
            {{form.is_active}}
        </div>
      </div>
      {% endif %}
      {{form.profile_image}}
      <div class="col-12">
        <button type="submit"  class="btn btn-warning py-3 px-4 ">
            Update
        </button>
      </div>
      
    </form> 
</section>
{% endblock %}