{% extends 'profile/main.html' %}
{% load static %}
{% block content %}

<section class="ftco-section align-items-center ">
    <div class="container-wrap align-items-center">
        <div class="card align-items-center" style="background-color: #c49b63;width: 18rem;">
            <h5 class="card-title">Profile</h5>
            <div class="card-body text-white">
                <div class="d-md-flex">
                    <div class="form-group ">
                        {{page_user.user.username}}
                    </div></div>
                    <div class="d-md-flex">
                    <div class="form-group">
                        {{page_user.email}}
                    </div>
                    </div>
                    <div class="d-md-flex">
                        <div class="form-group">
                            {{page_user.name}}
                            {{page_user.user.last_login}}
                        </div>
                        </div>
                        <div class="d-md-flex">
                            <div class="form-group">
                                <img src="{{page_user.imageURL}}" class="img-fluid rounded-circle" alt="...">
                            </div>
                        </div>
            </div>
            
        </div>
        <br><br>
        <div class="row">
        <div class="col-12">
            <a href="{% url 'profile:userEdit' %}">
            <button type="submit"  class="btn btn-warning py-3 px-4 ">
                User Edit
            </button></a>
          </div> 
          <br><br>
          <div class="col-12">
            <a href="/profile/edit/{{user.id}}">
            <button type="submit"  class="btn btn-warning py-3 px-4 ">
                profile Edit
            </button></a>
          </div> 
          <br><br>
          <div class="col-12">
            <a href="{% url 'account_change_password' %}">
            <button type="submit"  class="btn btn-warning py-3 px-4 ">
                change password
            </button></a>
          </div>
        </div>
</div>
</section>

{% endblock content %}